<% if user_signed_in? %>
<div class="container">
<h1 class="title">All our consoles</h1>
  <div class="banner"></div>

  <div class="cards">
  <% @consoles.each do |console| %>
    <li class="card-name"><%= console.name %></li>
    <%= link_to "see this console", console_path(console) %>
  <% end %>
  </div>

  <br>
  <div class="button-new-console">
    <%= link_to 'Add a new console', new_console_path %>
  </div>
  <% end %>
</div>
