<h2><%= @console.name %></h2>
<div class="container">
  <%= render "form", consoles: @console %>
    <div class="button-show"></div>
  <div id="right" class="d-flex">
      <div class="button-new">
        <%= link_to "Back to list", consoles_path, class: 'w-10' %>
      </div>
  </div>
</div>
