<h2><%= @console.name %></h2>
<div class="container">
  <%= render "form", consoles: @console %>

  <div class="button-show"></div>
    <div class="button-new">
      <%= link_to consoles_path do %>
        <p>Back to list</p>
      <% end %>
    </div>
</div>
