<br><h2>Add a new console</h2>
<div class="container-new-console col-10">
  <%= render "form", consoles: @console %>

  <div id="right" class="d-flex">
      <div class="button-sticky">
        <%= link_to "Back to list", consoles_path, class: 'w-10' %>
      </div>
  </div>
</div>
