// Import page-specific CSS files here.
@import "home";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Custom designs */
@import url(components/_banner.scss);
@import url(components/_buttons.scss);
@import url(components/_cards.scss);
@import url(components/_footer.scss);

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
