h2 {
  color: #610E89;
  text-align: center;
}

.cards {
  background-color: white;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  background-color: #F4F4F4;
}

.link_to {
  color: black;
}

p {
  text-align: center;
}
