.button-show {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button-show :hover {
  color: #610E89;
}

.delete-button {
  color: #610E89;
}

.delete-button:hover {
  color: black;
}

.button-new {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100px;
  justify-content: center;
}

.button-new :hover {
  color: #610E89;
}
