.card {
  width: 280px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  margin: 15px;
  p {
    opacity: .5;
  }
  a {
    opacity: 1;
    color: #efa133;
  }
  img {
    width: auto;
    height: 134px;
  }
}

.cards {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .card {
    margin-bottom: 15px;
    flex: 1 1 150px;
    img {
      width: auto;
      height: 134px;
    }
  }
}

@media (max-width: 500px) {
  .card {
    justify-content: space-around;
    flex: 1 1 100px;
    img {
      width: auto;
      height: 134px;
    }
  }
}
